################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/workingGit/FileContentIndex/458fe5a2-c9e1-43f5-9c45-d45e15ec6996.vsidx
/.vs/workingGit/FileContentIndex/c0506229-b238-484c-881d-f39ef97c3371.vsidx
/.vs/slnx.sqlite
/.vs/workingGit/FileContentIndex/8015cf2b-f18b-4754-8643-d16d859b7226.vsidx
/.vs/workingGit
